

body{
	font-family: Georgia, serif;
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

a{
	color: #227CE8;
}

#container {
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 960px;
}

a:hover{
	text-decoration: none;
}

p code, li code{
	background-color: #F9F9F9;
	border: 1px solid #eee;
	font-size: 12px;
	padding: 2px 3px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
hr{
	border: 0;
	height: 1px;
	background-color: #ccc;
	margin: 2em 1em;
}
.content{
	margin-left: 180px;
	width: 780px;
	margin-bottom: 50px;
}
.related{
	margin-top: 10px;
}
.related ul{
	margin: 0;
	padding: 0;
}
.related li{
	font-size: 14px;
	list-style: none;
	padding: 5px 0px;
	margin: 0;
	color: #777;
	border-bottom: 1px solid #eee;
}

.related li span{
	float:right;
}

.related a{
	text-decoration: none;
}
.related a:hover{
	text-decoration: underline;
}

h1, h2, h3, h4{
	color: #555;
	font-family: Futura, Helvetica, sans-serif;
	font-weight: normal;
}

h1 a, h2 a, h3 a, h4 a{
	color: #555;
	text-decoration: none;
}

h1{
  font-size: 32px;
  border-bottom: 1px solid #eee;
  margin-bottom: .25em;
}

#header{
	position: fixed;
	top: 15px;
	width: 180px;
	font-family: Helvetica, sans-serif;
	text-align: center;
	
}

#header .avatar{
	border: 1px solid #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-box-shadow: 0px 0px 4px #555;
}

#header a{
	text-decoration: none;
}

#header #me{
	text-transform: uppercase;
	margin: 10px 0 20px 0;
}

#header #fabio{
	font-size: 29.5px;
	letter-spacing: 4px;
	color: #df4400;
}

#header #fabio:hover{
	color: #000;
}

#header #madeira{
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	color: #000;
}

#header .site{
}

#header .site img{
	padding: 0 3px;
	border: 0;
}
#header #mousing{
	font-size: 12px;
	color: #999;
	padding-left: 2px;
	letter-spacing: 1px;
}

#header #sections{
  margin: 25px 0 0 0;
}
#header #sections div{
  margin-bottom: 7px;
}
#header #sections a{
  background-color: #000;
  padding: 3px 5px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
}
#header #sections a:hover{
  color: #ccc;
}



#post{
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  text-decoration: none;
}
#post ul{
  font-size: 16px;
}
#post li{
  line-height: 1.25em;
  margin-bottom: .75em;
  list-style-type: square;
}
#post li code{
  border: 1px solid #ccc;
}
#post p{
  font-size: 18px;
  margin-bottom: 1.2em;
  line-height: 1.7em;
}
#post img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 610px;
  -webkit-border-radius: 8px;
  -webkit-box-shadow: 0px 0px 10px #555;
}
#post .authoring{
  padding-left: 3px;
  font-size: 14px;
  color: #777;
}
#post .authoring a{
  color: #777;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
  padding: 0;
}
#post .authoring a:hover{
  color: #555;
  border-color: #555;
}
#post blockquote{
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  padding: 1em 3em;
  margin: 2em 6em;
  color: #444;
}
#post blockquote cite:before{
  content: 'Ñ ';
}
#post blockquote cite{
  text-align: right;
  color: #111;
  font-style: normal;
}


#header #icons{
	text-align: center;
	margin-top: 80px;
}

#body-header{
	width: 100%;
	height: 50px;
	margin-left: 140px;
	top: 15px;
	position: relative;
}

#body-header p {
	margin-top: 5px;
	font-family: Helvetica, sans-serif;
}


#footer{
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 960px;
	padding-left: 10%;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
}