<!-- dynamically loading backgrounds for tags,  descriptions and page titles -->
{% assign decoded_url = page.url | url_decode %}
{% for author in site.data.authors %}
    {% if decoded_url contains author[1].username %}
        {% assign image = author[1].image %}
        {% assign author_bio = author[1].bio %}
        {% assign author_name = author[1].name %}
        {% assign author_picture = author[1].picture %}
        {% assign author_image = author[1].image %}
        {% assign author_url_full = author[1].url_full %}
        {% assign author_email = author[1].email %}
        {% assign author_twitter = author[1].twitter %}
        {% assign author_facebook = author[1].facebook %}
        {% assign author_github = author[1].github %}
        {% assign author_linkedin = author[1].linkedin %}
        {% assign author_medium = author[1].medium %}
        {% assign author_google_scholar = author[1].google_scholar %}
        {% assign author_orcid = author[1].orcid %}
    {% endif %}
{% endfor %}
