<section id="posters">
<div class="container">
</br></br>
<h3>Posters</h3>
<div class="panel panel-default">
  <div class="panel-body">
	<h4>
	<span class="label label-success">Online</span> <strong>Fábio Madeira</strong>, Michele Tinti, Gerta Hoxhaj, Geoffrey J. Barton and Carol MacKintosh. 2013. Predicting and mapping the human 14-3-3 interactome to test a new signalling paradigm. "Wellcome Trust Retreat in Firbush", College of Life Sciences, University of Dundee, May 23th. <a href="http://dx.doi.org/10.6084/m9.figshare.923439">http://dx.doi.org/10.6084/m9.figshare.923439</a>.
	</h4>
	<h4>
	<span class="label label-success">Online</span> Michele Tinti, <strong>Fábio Madeira</strong>, Catherine Johnson, Margaret Malcolm and Carol MacKintosh. 2012.
	Evolution of 14-3-3-binding sites and 2R-Ohnologue families. PTMs in Cell Signaling, Copenhagen, Denmark, December 2-5th. <a href="http://dx.doi.org/10.6084/m9.figshare.923438">http://dx.doi.org/10.6084/m9.figshare.923438</a> .
	</h4>
	<h4>
	<span class="label label-danger">Offline</span> Paulo Roque Lino, <strong>Fábio Madeira</strong>, Isabel Tavares de Almeida and Paula Leandro. 2010. Alternative Answers to Everlasting Problems: Protein Engineering Towards New Approaches for Phenylketonuria Treatment. 2010 SPDM Annual Symposium, Albufeira, Portugal, November 4-5th.
	</h4>
	<h4>
	<span class="label label-success">Online</span> Catarina Coelho, <strong>Fábio Madeira</strong>, Paulo Roque Lino, Isabel Tavares de Almeida, Paula Leandro and Maria João Romão. 2010.
	Crystallization of a Stable Form of Human Phenylalanine Hydroxylase: Towards the 3D Structure Determination. UK- Portuguese Teams Meeting. Protein-protein interaction and Protein folding. FCT-UNL,
March 29-31st. <a href="http://dx.doi.org/10.6084/m9.figshare.923437">http://dx.doi.org/10.6084/m9.figshare.923437</a>.
	</h4>
  </div>
</div>
</br></br>
</div><!-- /.container -->
</section>