<section id="posters">
<div class="container">
<h3>Posters</h3>
<div class="panel panel-default">
  <div class="panel-body">
    <h4>
	<span class="label label-success">Online</span>&nbsp;&nbsp;<strong>Fábio Madeira</strong> and Geoffrey J. Barton. 2015.
	<a href="http://dx.doi.org/10.6084/m9.figshare.1584880">Analysis of protein domain interactions and genetic variation</a>.
		SLS PhD Poster Session at University of Dundee, Dundee, October 9th. </br><u>Selected as Poster Prize Winner.</u>
    </h4>
    <h4>
	<span class="label label-success">Online</span>&nbsp;&nbsp;<strong>Fábio Madeira</strong> and Geoffrey J. Barton. 2015.
	<a href="http://dx.doi.org/10.6084/m9.figshare.1485641">Protein interactions and genetic variation</a>.
		ISMB/ECCB 2015 (23rd Annual International Conference on Intelligent Systems for Molecular Biology - 14th European
		Conference on Computational Biology), Dublin, Jul 10-14th. </br><u>Selected for Oral Poster Presentation and Travel Fellowship.</u>
    </h4>
	<h4>
	<span class="label label-success">Online</span>&nbsp;&nbsp;<strong>Fábio Madeira</strong>, Michele Tinti, Gerta Hoxhaj, Geoffrey J. Barton and Carol MacKintosh. 2013.
		<a href="http://dx.doi.org/10.6084/m9.figshare.923439">Predicting and mapping the human 14-3-3 interactome to test a new signalling paradigm</a>. "Wellcome Trust Retreat in Firbush", College of Life Sciences, University of Dundee, May 23th.
	</h4>
	<h4>
	<span class="label label-success">Online</span>&nbsp;&nbsp;Michele Tinti, <strong>Fábio Madeira</strong>, Catherine Johnson, Margaret Malcolm and Carol MacKintosh. 2012.
	<a href="http://dx.doi.org/10.6084/m9.figshare.923438">Evolution of 14-3-3-binding sites and 2R-Ohnologue families</a>. PTMs in Cell Signaling, Copenhagen, Denmark, December 2-5th.
	</h4>
	<h4>
	<span class="label label-danger">Offline</span>&nbsp;&nbsp;Paulo Roque Lino, <strong>Fábio Madeira</strong>, Isabel Tavares de Almeida and Paula Leandro. 2010. Alternative Answers to Everlasting Problems: Protein Engineering Towards New Approaches for Phenylketonuria Treatment. 2010 SPDM Annual Symposium, Albufeira, Portugal, November 4-5th.
	</h4>
	<h4>
	<span class="label label-success">Online</span>&nbsp;&nbsp;Catarina Coelho, <strong>Fábio Madeira</strong>, Paulo Roque Lino, Isabel Tavares de Almeida, Paula Leandro and Maria João Romão. 2010.
	<a href="http://dx.doi.org/10.6084/m9.figshare.923437">Crystallization of a Stable Form of Human Phenylalanine Hydroxylase: Towards the 3D Structure Determination</a>. UK- Portuguese Teams Meeting. Protein-protein interaction and Protein folding. FCT-UNL,
March 29-31st.
	</h4>
  </div>
</div>
</div>
</section>