<section id="publications">
<div class="container">
  <h3>Publications</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h4>
		<span class="label label-success">Journal</span>&nbsp;&nbsp;<strong> Fábio Madeira</strong>, Michele Tinti, Gavuthami Murugesan, Emily Berrett, Margaret Stafford, Rachel Toth, Christian Cole, Carol MacKintosh and Geoffrey J. Barton. 2015. <a href="http://dx.doi.org/10.1093/bioinformatics/btv133">14-3-3-Pred: Improved methods to predict 14-3-3-binding phosphopeptides</a>. <em>Bioinformatics (Oxford)</em>. 2015 Mar 3; 2015:btv133.
		</h4>
		<h4>
		<span class="label label-success">Journal</span>&nbsp;&nbsp; Michele Tinti, <strong>Fábio Madeira</strong>, Gavuthami Murugesan, Gerta Hoxhaj, Rachel Toth and Carol MacKintosh. 2014. <a href="http://dx.doi.org/10.1093/database/bat085">ANIA - ANnotation and Integrated Analysis of the 14-3-3-interactome</a>. <em>Database (Oxford)</em>. 2014 Feb 5; 2014:bat085.
		</h4>
		<h4>
		<span class="label label-warning">Preprint</span>&nbsp;&nbsp; Ludwig Krippahl and <strong>Fábio Madeira</strong>. 2014.
		<a href="http://dx.doi.org/10.1101/002329">Improving Protein Docking with Constraining Programming and Coevolution Data</a>. <em>bioRxiv</em> 10.1101/002329.
		</h4>
		<h4>
		<span class="label label-primary">Conference Proceedings</span>&nbsp;&nbsp; Ludwig Krippahl, <strong>Fábio Madeira</strong> and Pedro Barahona. 2013.
		<a href="http://dx.doi.org/10.1007/978-3-642-38326-7">Constraining Protein Docking with Coevolution Data for Medical Research</a>. <em>Proceedings of the 14th Conference on Artificial Intelligence in Medicine</em>, pp 110-114.
		</h4>
		<h4>
		<span class="label label-primary">Conference Proceedings</span>&nbsp;&nbsp; <strong>Fábio Madeira</strong> and Ludwig Krippahl. 2012.
		<a href="http://dx.doi.org/10.5220/0003737901430149">PYCOEVOL - A Python Workflow to Study Protein-protein Coevolution</a>. <em>Proceedings of the International Conference on Bioinformatics Models, Methods and Algorithms</em>, pp 143-149.
		</h4>
		<h4>
		<span class="label label-primary">Conference Proceedings</span>&nbsp;&nbsp; Marco Correia, <strong>Fábio Madeira</strong>, Pedro Barahona and Ludwig Krippahl. 2011.
		<a href="http://www.dmi.unipg.it/WCB11/wcb11proc.pdf">Improving Multiple Sequence Alignments with Constraint Programming and Local Search</a>. <em>Prooceedings of the Workshop on Constraint Based Methods for Bioinformatics</em>, pp 37-44.
		</h4>
		<h4>
		<span class="label label-info">Thesis</span>&nbsp;&nbsp; <strong>Fábio Madeira</strong>. 2010.
		<a href="http://dx.doi.org/10.6084/m9.figshare.923432">Estudos estruturais e funcionais da fenilalanina hidroxilase humana</a>. Master Thesis in Molecular Genetics and Biomedicine. <em>In Portuguese</em>
		</h4>
    </div>
  </div>
</div>
</section>