<div class="social">
	<h5>
	  <a href="https://github.com/{{ site.username }}"><i class="fab fa-github"></i></a>
	  <a href="https://twitter.com/{{ site.username }}"><i class="fab fa-twitter"></i></a>
		<a href="https://medium.com/@{{ site.username }}"><i class="fab fa-medium"></i></a>
	  <a href="https://linkedin.com/in/{{ site.username }}"><i class="fab fa-linkedin"></i></a>
		<a href="https://scholar.google.co.uk/citations?user={{ site.google_scholar }}"><i class="fas fa-graduation-cap"></i></a>
		<a href="https://orcid.org/{{ site.orcid }}"><i class="fas fa-info-circle"></i></a>
	</h5>
</div>
