<section id="talks">
<div class="container">
<h3>Talks</h3>
<div class="panel panel-default">
  <div class="panel-body">
	<h4>
	<span class="label label-success">Online</span>&nbsp;&nbsp;
		Deciphering the substrate specificity of ubiquitin conjugating enzymes. 3rd rotation project on the Wellcome Trust PhD programme, College of Life Sciences, University of Dundee, 2013.
	<a href="http://dx.doi.org/10.6084/m9.figshare.923440">http://dx.doi.org/10.6084/m9.figshare.923440</a>.
	</h4>
	<h4>
	<span class="label label-success">Online</span>&nbsp;&nbsp;
	Development of classification methods to predict new 14-3-3-binding proteins and phosphopeptides. 2nd rotation project on the Wellcome Trust PhD programme, College of Life Sciences, University of Dundee, 2013. <a href="http://dx.doi.org/10.6084/m9.figshare.923441">http://dx.doi.org/10.6084/m9.figshare.923441</a>.
	</h4>
	<h4>
	<span class="label label-success">Online</span>&nbsp;&nbsp;
	Mapping the 14-3-3-binding 2R-ohnologue protein families of the human kinome. 1st rotation project on the Wellcome Trust PhD programme, College of Life Sciences, University of Dundee, 2013. <a href="http://dx.doi.org/10.6084/m9.figshare.923451">http://dx.doi.org/10.6084/m9.figshare.923451</a>.
	</h4>
	<h4>
	<span class="label label-success">Online</span>&nbsp;&nbsp;
	PYCOEVOL: A Python workflow to study protein-protein coevolution. "International conference on Bioinformatics Models, Methods and Algorithms - BIOINFORMATICS 2012", Vilamoura, Algarve, Portugal, February 1-4th, 2012.
    <a href="http://dx.doi.org/10.6084/m9.figshare.923435">http://dx.doi.org/10.6084/m9.figshare.923435</a>.
	</h4>
	<h4>
	<span class="label label-success">Online</span>&nbsp;&nbsp;
	Improving Multiple Sequence Alignments with Constraint Programming and Local Search. "Workshop on Constraint Based Methods for Bioinformatics - WCB11", Perugia, Italy, September 12th, 2011.
<a href="http://dx.doi.org/10.6084/m9.figshare.923434">http://dx.doi.org/10.6084/m9.figshare.923434</a>.
	</h4>
	<h4>
	<span class="label label-success">Online</span>&nbsp;&nbsp;
	Phenylalanine Hydroxilase: Towards 3D Structure Determination. "Met&Gen Ph.D. Students Workshop. Inborn Errors of Metabolism:
Understanding the Molecular Mechanisms", Faculdade de Farmácia, Universidade de Lisboa, November 27th, 2010.
<a href="http://dx.doi.org/10.6084/m9.figshare.923433">http://dx.doi.org/10.6084/m9.figshare.923433</a>.
	</h4>
  </div>
</div>
</div>
</section>