---
layout: default
current: author
title: Author Page
image: false
class: author-template
navigation: True
label: Author
---

{% include dynamic-author-info.html %}
<header class="blog-header {% if author_image %} has-cover{% endif %}">
	<div class="inner">
		<div class="archive archive-author box archive-box">
			<span class="archive-info">
				<span class="archive-type">Author</span>
				<span class="archive-count">{% if paginator.total_posts == 0 %}No posts{% elsif paginator.total_posts == 1 %}1 Post{% else %}{{ paginator.total_posts }} Posts{% endif %}</span>
			</span>
			<figure class="archive-avatar avatar">
				{% if author_picture %}
					<img src="{{ site.baseurl }}{{ author_picture }}" alt="{{ page.author }}" />
				{% endif %}
			</figure>
			<h2 class="archive-title">{{ author_name }}</h2>
			{% if author_bio %}
				<span class="archive-description">
					{{ author_bio }}
				</span>
				<span class="archive-extra">
					<p>I am a Software Engineer at the <a href="https://www.ebi.ac.uk/">European Bioinformatics Institute</a>,
						in Cambridge.
						I was previously a PhD/Postdoc in Geoff Barton's <a href="http://www.compbio.dundee.ac.uk/">Computational Biology
							Group</a>
						at the University of Dundee, Scotland.</p>
					<p>My interests span Software Development, Data Science, Machine Learning, Bioinformatics Training,
						Science Communication, Writing, and Piano Improvisation.</p>
					<p>Check out my <a href="http://github.com/{{ author_github }}">Coding Projects</a>,
						my <a href="https://scholar.google.co.uk/citations?user={{ author_google_scholar }}">Research
							Publications</a>,
						or my <em><a href="{{ site.baseurl }}static/resume.pdf">Curriculum Vitae</a></em>.
						Feel free to contact me at <a href="http://twitter.com/{{ author_twitter }}">@biomadeira</a>
						or by <a
							href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#102;&#97;&#98;&#105;&#111;&#109;&#97;&#100;&#101;&#105;&#114;&#97;&#64;&#109;&#101;&#46;&#99;&#111;&#109;">&#69;&#109;&#97;&#105;&#108;</a>.
					</p>
				</span>
			{% endif %}
			<span class="archive-links">
				<!-- {% if author_url_full %}
					<a target="_blank" href="{{ author_url_full }}" title="Website"><i class="icon icon-globe"></i><span>Website</span></a>
				{% endif %} -->
				{% if author_twitter %}
					<a target="_blank" href="https://twitter.com/{{ author_twitter }}" title="Twitter"><i class="fa-brands fa-twitter"></i><span>Twitter</span></a>
				{% endif %}
				{% if author_facebook %}
					<a target="_blank" href="https://facebook.com/{{ author_facebook }}" title="Facebook"><i class="fa-brands fa-faceboook"></i><span>Facebook</span></a>
				{% endif %}
				{% if author_github %}
					<a target="_blank" href="https://github.com/{{ author_github }}" title="GitHub"><i class="fa-brands fa-github"></i><span>GitHub</span></a>
				{% endif %}
				{% if author_linkedin %}
					<a target="_blank" href="https://linkedin.com/{{ author_linkedin }}" title="LinkedIn"><i class="fa-brands fa-linkedin"></i><span>LinkedIn</span></a>
				{% endif %}
				{% if author_google_scholar %}
					<a target="_blank" href="https://scholar.google.co.uk/citations?user={{ author_google_scholar }}" title="Google Scholar"><i class="fa-solid fa-graduation-cap"></i><span>Google Scholar</span></a>
				{% endif %}
				{% if author_orcid %}
					<a target="_blank" href="https://orcid.org/{{ author_orcid }}" title="ORCID"><i class="fa-brands fa-orcid"></i><span>ORCID</span></a>
				{% endif %}
			</span>
		</div>

		{% if author_image %}
		<div class="blog-cover cover">
			<!-- <img
			srcset="{{ cover_s }} 320w,
                    {{ cover_m }} 640w,
                    {{ cover_l }} 960w,
                    {{ cover_xl }} 1920w"
            src="{{ cover_xl }}"
			alt="{{ page.title }}" /> -->
			<img src="{{ site.baseurl }}{{ author_image }}" alt="{{ page.title }}" />
		</div>
		{% endif %}
	</div>
</header>


<div id="index" class="container">

	<main class="content" role="main">
		<!-- <div class="inner">
			<section class="post-content">
			</section>
		</div> -->

		<!-- {% include loop.html %} -->

		 <div class="inner">
			<!-- {% if site.tags.size > 0 %}
			<aside class="post-tags">
				<span class="post-info-label">Topic</span>
				{% for tag in site.tags %}
				<a href="{{ site.baseurl }}tag/{{ tag[0] | slugify: 'latin' }}/">{{ tag[0] }}</a>
				{% endfor %}
			</aside>
			{% endif %} -->
 
			{% assign posts = paginator.posts %}
			<aside class="post-nav">
				{% if posts[0] %}
				{% if site.tags.size > 0 %}
				<div class="archive-tags">
					<aside class="post-tags">
						<span class="post-info-label">Topics</span>
						{% for tag in site.tags %}
						<a href="{{ site.baseurl }}tag/{{ tag[0] | slugify: 'latin' }}/">{{ tag[0] }}</a>
						{% endfor %}
					</aside>
				</div>
				{% endif %}
				<a class="post-nav-prev" href="{{ site.baseurl }}{{ posts[0].url | remove_first: '/' }}">
					<section class="post-nav-teaser">
						<i class="icon icon-arrow-right" aria-label="Previous post"></i>
						<h2 class="post-nav-title">{{ posts[0].title }}</h2>
						<p class="post-nav-excerpt">{{ posts[0].content | strip_html | truncatewords: 12, "" }}&hellip;</p>
						<p class="post-nav-meta"><time datetime="{{ posts[0].date | date:'%e %B %Y' }}">{{ posts[0].date |
								date:'%e %B %Y' }}</time></p>
					</section>
				</a>
				{% endif %}
				<div class="clear"></div>
			</aside>
		</div>

	</main>

</div>
