<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    {% include dynamic-title.html %}
    <title>{% if title %}{{ title }}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" type="image/x-icon" href="{{ site.baseurl }}assets/images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/style.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
		integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script>
			var siteUrl = '{{ site.url }}';
	</script>

	<script>
			var localTheme = localStorage.getItem('biomadeira_attila_theme');
			switch (localTheme) {
					case 'dark':
							document.documentElement.classList.add('theme-dark');
							break;
					case 'light':
							document.documentElement.classList.add('theme-light');
							break;
					default:
							break;
			}
			{% if site.search %}
				document.documentElement.classList.add('has-search');
			{% endif %}
	</script>

    <style>
		.theme-dark:root {
			--ghost-accent-color: {{ site.darkmode_accent_color }};
		}
		.theme-light:root {
			--ghost-accent-color: {{ site.darkmode_accent_color }};
		}
		@media (prefers-color-scheme: dark) {
			html:not(.theme-light):root {
			--ghost-accent-color: {{ site.darkmode_accent_color }};
			}
		}
	</style>

	{% include ghost-head.html %}
</head>

<body class="{% if paginator.page > 1 %}paged archive-template{% elsif page.class %}{{ page.class }}{% else %}home-template{% endif %}">

	<div class="nav-header">
		<nav class="nav-wrapper" aria-label="Main">
				{% if site.logo %}
				<span class="logo">
					<a href="{{ site.url }}" title="Home"><img src="{{ site.baseurl }}{{ site.logo }}" alt="{{ site.title }}" /></a>
				</span>
				{% endif %}
				{% include navigation.html %}
                {% include navigation-meta.html %}
		</nav>

		<div class="nav-wrapper-control">
			<div class="inner">
				<a class="nav-menu" role="button"><i class="icon icon-menu" aria-hidden="true"></i>Menu</a>
				<!-- <a class="nav-search" title="Search" role="button"><i class="icon icon-search" aria-hidden="true"></i> -->
				</a>
			</div>
		</div>
	</div>
	<div class="nav-close" role="button" aria-label="Close"></div>

	<section class="page-wrapper">

        {{ content }}


		<!-- <div class="search-wrapper">
			<div class="search">
		    <form class="search-form">
          <input class="search-field" type="text" placeholder="Search…">
          <button class="search-button" type="submit">
						<i class="icon icon-search" aria-hidden="true"></i>
					</button>
		    </form>
				<div class="popular-wrapper">
					<h4 class="popular-title">Topics</h4>
					<span class="popular-tags post-tags">
						{% for tag in site.data.tags %}
							<a href='{{ site.baseurl }}tag/{{ tag[1].name }}/'>{{ tag[1].name }}</a>
						{% endfor %}
					</span>
				</div>
				<div class="search-result"></div>
			</div>
			<button class="search-wrapper-close" aria-label="Close"></button>
		</div> -->

		<div class="nav-footer">
			<nav class="nav-wrapper" aria-label="Footer">
				<span class="nav-copy">{{ site.title }}.{{ site.domain }} &copy; {{  site.time | date: '%Y' }}
					&bull;
					<a href="{{ site.url }}{{ site.baseurl | remove_first: '/' }}policies">Blog policies and disclaimers</a>
					&bull;
					<a href="{{ site.url }}{{ site.baseurl | remove_first: '/' }}feed.xml"
						target="_blank">
						Subscribe <i class="fa-solid fa-rss"></i></a>
				</span>
				<span class="nav-credits">
					<a id="backToTop" title="Back to top" onclick="topFunction()" href="#" rel="noopener"><i class="fa-solid fa-arrow-up"></i> Back to top</a>
				</span>
			</nav>
		</div>

	</section>
	
	<script type="text/javascript" src="{{ site.baseurl }}assets/js/script.js"></script>

     <!-- Add Google Analytics  -->
    {% include analytics.html %}

    <!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. -->
    {% if page.class == "post-template" %}
	<script>
	$(document).ready(function () {
			var viewport = $(window);
			var post = $('.post-content');
			// Responsive videos with fitVids
		post.fitVids();
			// Format code blocks and add line numbers
			function codestyling() {
			$('pre code').each(function(i, e) {
					// Code highlight
			hljs.highlightBlock(e);
			// No lines for plain text blocks
			if (!$(this).hasClass('language-text')) {
				var code = $(this);
						// Calculate amount of lines
				var lines = code.html().split(/\n(?!$)/g).length;
				var numbers = [];
				if (lines > 1) {
				lines++;
				}
				for (i = 1; i < lines; i++) {
				numbers += '<span class="line" aria-hidden="true">' + i + '</span>';
				}
				code.parent().append('<div class="lines">' + numbers + '</div>');
			}
			});
		}
		codestyling();
			// Reading progress bar on window top
		function readingProgress() {
				var postBottom = post.offset().top + post.height();
				var viewportHeight = viewport.height();
		var progress = 100 - (((postBottom - (viewport.scrollTop() + viewportHeight) + viewportHeight / 3) / (postBottom - viewportHeight + viewportHeight / 3)) * 100);
		$('.progress-bar').css('width', progress + '%');
		(progress > 100) ? $('.progress-container').addClass('complete'): $('.progress-container').removeClass('complete');
		}
		readingProgress();
			// Trigger reading progress
		viewport.on({
			'scroll': function() {
			readingProgress();
			},
			'resize': function() {
			readingProgress();
			},
			'orientationchange': function() {
			readingProgress();
			}
		});

			{% if site.disqus or page.disqus %}
				$('.post-comments').css({
					'display': 'block'
				});
				var disqus = '{{ site.disqus_shortname }}';
			$('#show-disqus').on('click', function() {
			$.ajax({
				type: "GET",
				url: "//" + disqus + ".disqus.com/embed.js",
				dataType: "script",
				cache: true
			});
			$(this).parent().addClass('activated');
			});
			{% endif %}
	});
	</script>
    {% elsif page.class == "page-template" %}
	<script>
	$(document).ready(function () {
			var post = $('.post-content');
			// Responsive videos with fitVids
		post.fitVids();
			// Format code blocks and add line numbers
			function codestyling() {
			$('pre code').each(function(i, e) {
			// Code highlight
			hljs.highlightBlock(e);
			// No lines for plain text blocks
			if (!$(this).hasClass('language-text')) {
				var code = $(this);
				// Calculate amount of lines
				var lines = code.html().split(/\n(?!$)/g).length;
				var numbers = [];
				if (lines > 1) {
				lines++;
				}
				for (i = 1; i < lines; i++) {
				numbers += '<span class="line" aria-hidden="true">' + i + '</span>';
				}
				code.parent().append('<div class="lines">' + numbers + '</div>');
			}
			});
		}
		codestyling();
	});
	</script>
	<script>
		// Get the button:
			let mybutton = document.getElementById("backToTop");

			// When the user scrolls down 20px from the top of the document, show the button
			window.onscroll = function () { scrollFunction() };

			function scrollFunction() {
				if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
					mybutton.style.display = "block";
				} else {
					mybutton.style.display = "none";
				}
			}

			// When the user clicks on the button, scroll to the top of the document
			function topFunction() {
				document.body.scrollTop = 0; // For Safari
				document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
			}
	</script>
    {% endif %}


</body>
</html>
