<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Fábio Madeira" />
    <title>Fábio Madeira</title>
	
    <!-- Bootstrap -->
    <link href="static/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<link rel="favicon" href="favicon.ico">
	<!-- Google Analytics -->
	{% include analytics.html %}
	<!-- Custom styles for this template -->
    <link href="static/main.css" rel="stylesheet">
    <!-- <link href="static/timeline.css" rel="stylesheet"> -->
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,200bold,400old" rel="stylesheet" type="text/css">
	<link href="static/bootstrap.icon-large.min.css" rel="stylesheet">
  </head>
  <!-- Main Body-->
  <body>
  <!-- Wrap all page content here -->
  <div id="wrap">
  <!--{% include header.html %}-->

  {{ content }}

  </div><!-- /.wrapper -->

  {% include footer.html %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/bootstrap.min.js"></script>
	<script src="static/docs.min.js"></script>
    <script src="static/jquery.easing.min.js"></script>
    <script src="static/main.js"></script>
    <script src="static/bootstrap-scrollspy.js"></script>
  </body>
</html>